* {
  box-sizing: border-box;
}

.category-data {
  position: relative;
  margin-bottom: 5%;
  width: 186px;
  min-height: 36px;
}

.info-category {
  padding: 11px;
  border-radius: 20px;
  background: rgba(152, 191, 173, 0.35);
  border: none;
  text-align: center;
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}

.category-list {
  position: absolute;
  z-index: 1;
  background: #ffffff;
  left: 0;
  right: 0;
}

.category-choice {
  border: 1px solid rgba(152, 191, 173, 0.35);
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1rem;
}

.delete-img {
  width: 25px;
  padding-left: 5%;
}

.delete-img:hover,
.category-choice:hover,
.info-category:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .info-category {
    font-size: 20px;
    line-height: 24px;
    padding: 2rem;
    border-radius: 10px;
    min-width: 250px;
  }
  .delete-img {
    width: 35px;
  }
  .category-list {
    min-width: 250px;
  }
}

/*
.info-category {
  font-size: 12px;
  line-height: 15px;
}

.category-data {
    width: 186px;
    min-height: 36px;
}

.info-category {
  no mid width 
  border-radius: 20px;
}


  */
