* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  display: flex;
  text-align: center;
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.info-category {
  text-align: center;
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  background: rgba(152, 191, 173, 0.35);
  border-radius: 9px;
  padding: 2rem;
}

