*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
}

.country-info {
  background: rgba(152, 191, 173, 0.35);
  border-radius: 20px;
  margin-bottom: 5%;
}

.country-holder {
  cursor: pointer;
  min-width: 186px;
  min-height: 36px;
  padding: 0.5rem;
}

.country-choice {
  border: 1px solid rgba(152, 191, 173, 0.35);
  box-sizing: border-box;
  border-radius: 20px;
}

.country-choice:hover {
  cursor: pointer;
}

.country-selected {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-data {
  position: relative;
}

.country-list {
  width: 100%;
  position: absolute;
  z-index: 1;
  background: #ffffff;
}

.input-countries {
  border: none;
  text-align: center;
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 10px;
}

.dropdown-img {
  margin-left: 5%;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .country-info {
    border-radius: 9px;
  }
  .country-choice {
    border-radius: 9px;
  }
  .input-countries {
    font-size: 20px;
    line-height: 24px;
  }
  .country-holder {
    padding: 2rem;
    min-width: 250px;
  }
  .dropdown-img {
    height: 20px;
  }
}

/*
padding: 2rem;
background: rgba(152, 191, 173, 0.35);
  padding: 10px;
  border-radius: 10px;


/* .input-countries {
  font-size: 12px;
  line-height: 15px;
}

.country-holder {
  width: 186px;
  min-height: 36px;
  padding: 1 rem

.country-info {
  border-radius: 20px;
}


*/
