* {
  box-sizing: border-box;
}

.mountainImg {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.mainTitle {
  font-size: 40px;
  font-family: Sail;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.secondTitle {
  font-size: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.thirdTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 96px;
    line-height: 111px;
  }
  .secondTitle {
    font-size: 40px;
    line-height: 20px;
    padding: 20px;
  }
  .thirdTitle {
    font-size: 24px;
    line-height: 14px;
    padding-top: 20px;
  }
}

button.map-btn {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 80%;
  margin-top: -5%;
  border: none;
  background: none;
  border-radius: 20%;
  padding: 5px;
}

button.map-btn:hover,
button.map-btn:focus {
  background-color: rgba(152, 191, 173, 0.35);
  border: none;
}

.map-globe-img {
  width: 60px;
  height: auto;
}

.container {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  text-align: center;
  color: #000000;
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
}

.extra-card-holder {
  position: relative;
  left: 28%;
  bottom: 5rem;
}

.extra-displayed-card {
  box-shadow: 20px 20px 8px #888888;
  width: 240px;
  min-height: 150px;
  z-index: 2;
  position: relative;
  border-radius: 20px;
}

.delete-extra-img {
  width: 15px;
  position: absolute;
  top: 8px;
  z-index: 3;
  right: 4%;
}

@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    justify-content: center;
  }
  .extra-displayed-card {
    width: 30rem;
    min-height: 300px;
  }

  .extra-card-holder {
    left: 28%;
    bottom: 8rem;
  }
  .delete-extra-img {
    width: 25px;
    right: 3%;
    top: 12px;
  }
  .container {
    font-size: 20px;
    line-height: 24px;
  }
}
