* {
  box-sizing: border-box;
}

.mountainImg {
  width: 100%;
  height: auto;
  position: relative;
}

.mainTitle {
  font-size: 40px;
  font-family: Sail;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.secondTitle {
  font-size: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.thirdTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 96px;
    line-height: 111px;
  }
  .secondTitle {
    font-size: 40px;
    line-height: 20px;
    padding: 20px;
  }
  .thirdTitle {
    font-size: 24px;
    line-height: 14px;
    padding-top: 20px;
  }
}

/*
position: absolute;
left: 30%;
top: 25%;
*/

button.map-btn {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 80%;
  margin-top: -5%;
  border: none;
  background: none;
  border-radius: 20%;
  padding: 5px;
}

button.map-btn:hover,
button.map-btn:focus {
  background-color: rgba(152, 191, 173, 0.35);
  border: none;
}

.map-globe-img {
  width: 125px;
  height: 94px;
}

.container {
  margin-left: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  text-align: center;
  color: #000000;
  flex: 1 1 30%;
}

@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    justify-content: center;
  }
}
