.card {
  flex: 1 1 50%;
}

.card button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

.card button:hover {
  background-color: transparent;
}

.card__mustDo,
.card__meTime,
.card__accomodation,
.card__restaurant {
  width: 240px;
  min-height: 150px;
}

.card__mustDo {
  background-color: #694a52;
  border-radius: 20px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}

.card__meTime {
  background-color: #d83957;
  border-radius: 20px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}

.card__accomodation {
  background-color: #98bfad;
  border-radius: 20px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}

.card__restaurant {
  background-color: #ff907c;
  border-radius: 20px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}

.card__body {
  display: flex;
  justify-content: space-around;
}

.category__pin {
  width: 2rem;
  float: right;
  margin: 10px;
}

.card__text,
.card__name {
  color: white;
  padding: 1rem;
  margin: 0;
  line-height: 150%;
  text-align: center;
}

.card__name {
  font-weight: bold;
  font-size: 14px;
}

.card__text {
  font-size: 12px;
  padding: 10px;
}

.category__web,
.category__map,
.category__googlemap {
  color: white;
  width: 3rem;
  height: 3rem;
  margin: 10px;
}

.card__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .card__mustDo,
  .card__meTime,
  .card__accomodation,
  .card__restaurant {
    width: 30rem;
    min-height: 300px;
  }
}

p.card__text {
  font-size: 14px;
  padding: 10px;
}

.card__name {
  font-weight: bold;
  font-size: 20px;
}
