.card {
  flex: 1 1 50%;
}

p.card__text {
  font-size: 14px;
  padding: 10px;
}

.card__mustDo {
  background-color: #694a52;
  border-radius: 20px;
  width: 30rem;
  margin: 1rem auto;
  min-height: 300px;
}

.card__meTime {
  background-color: #d83957;
  border-radius: 20px;
  width: 30rem;
  margin: 1rem auto;
  min-height: 300px;
}

.card__accomodation {
  background-color: #98bfad;
  border-radius: 20px;
  width: 30rem;
  margin: 1rem auto;
  min-height: 300px;
}

.card__restaurant {
  background-color: #ff907c;
  border-radius: 20px;
  width: 30rem;
  margin: 1rem auto;
  min-height: 300px;
}

.card__body {
  display: flex;
  justify-content: space-around;
}

.category__pin {
  width: 2rem;
  float: right;
  margin: 10px;
}

.card__text,
.card__name {
  color: white;
  padding: 1rem;
  margin: 0;
  line-height: 150%;
  text-align: center;
}

.card__name {
  font-weight: bold;
  font-size: 20px;
}

.category__web,
.category__map,
.category__googlemap {
  color: white;
  width: 3rem;
  height: 3rem;
  margin: 10px;
}

.card__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease;
  bottom: 0;
}
