body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* hamburger menu styles */

.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 48px;
  color: black;
  padding: 0;
  line-height: 0;
  margin: 0;
  margin-left: auto;
  outline: none;
}

.hamburger:hover {
  background-color: transparent;
  outline: none;
}

/* navbar styles */

.navbar {
  display: flex;
  justify-content: flex-start;
}

.menu {
  display: flex;
  list-style: none;
  margin: 1px;
  margin-left: 40px;
  padding: 10px 0;
  font-size: 14px;
}

.menu a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  color: black;
}

.menu a:hover {
  background-color: #ffcccc;
}
