*,
:after,
:before {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
}

/*
.main {
  padding: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  min-height: 100vh;
  margin-bottom: 50px;
}
*/
